name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup SSH key
      uses: webfactory/ssh-agent@v0.9.1
      with:
        ssh-private-key: ${{ secrets.DEPLOY_KEY }}

    - name: Deploy to EC2
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan -H 13.62.58.152 >> ~/.ssh/known_hosts
        rsync -avz --exclude '.git*' ./ ec2-user@13.62.58.152:/home/ec2-user/Cloudlab/
        ssh ec2-user@13.62.58.152 << 'EOF'
          cd /home/ec2-user/Cloudlab
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          pkill -f "python3 app.py" || true
          nohup python3 app.py > app.log 2>&1 &
        EOF
